{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if cashlil %}Редактирование{% else %}Создание{% endif %} записи</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/for_all.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/entry.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/form.js' %}"></script>
</head>
<body>
{% include 'header.html' %}
<!-- В зависимости от страницы разные заголовки -->
<div class = 'title_mark'>
    <h1 class ='name_title'>{% if cashlil %}Редактирование{% else %}Создание{% endif %} записи</h1>
</div>

<form class = 'filter_form' method="POST">
<div class = 'container_entry'>
    <!-- вывод всех строк для заполнения формы -->
    <div class = 'check_boxing'>
            {% csrf_token %}
            {{ form.date }}
            {{ form.status }}
            {{ form.type }}
            {{ form.category }}
            {{ form.subcategory }}
            {{ form.count_sum }}
    </div>
    <!-- заполнение комментария отдельно -->
    <div class = 'comment_create_form'>
            {{ form.comment }}
    </div>
    <!-- блок изменения кнопочек -->
    <div class = 'form_edit_buttons'>
        <button type="submit">{% if cashlil %}Сохранить изменения{% else %}Создать запись{% endif %}</button>              
</form>
    {% if cashlil %}
    <!-- удаление статьи -->
        <form class = 'form_create' action="{% url 'cashflow_delete' cashlil.id %}" method="post" onsubmit="return confirm('Вы уверены, что хотите удалить эту запись?');">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    {% endif %}
    </div>
</div>
</body>
</html>